html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  .tyu-app {
    width: 100%;
    height: 100%;

    > .section {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (min-width: 320px) {
  .tyu-app {
    font-size: 14px;
  }
}

@media screen and (min-width: 360px) {
  .tyu-app {
    font-size: 16px;
  }

  .big-font {
    font-size: 24px;
    line-height: 24px;
  }

  .large-font {
    font-size: 36px;
    line-height: 36px;
  }

  .small-font {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (min-width: 400px) {
  .tyu-app {
    font-size: 18px;
  }
}

@media screen and (min-width: 440px) {
  .tyu-app {
    font-size: 20px;
  }
}

@media screen and (min-width: 480px) {
  .tyu-app {
    font-size: 22px;
  }
}

@media screen and (min-width: 640px) {
  .tyu-app {
    font-size: 28px;
  }
}

.hide {
  visibility: hidden;
}

.show {
  visibility: inherit;
}
