.tyu-assessment {
  width: 100%;
  display: flex;
  flex-direction: column;;
  align-items: center;
  justify-content: flex-start;

  > .fixed-dece {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.32rem;
    height: 1.8rem;
  }

  > .header {
    height: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'PingFangSC-Medium';
    color: #F6A623;

    > img {
      margin-left: 6px;
      margin-right: 6px;
    }
  }

  > .content {
    padding: 0 .36rem;
    display: flex;
    flex-direction: column;

    > .tag {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        > .tag-name {

        }
    }
  }
}
