.tyu-list-app
{
    width: 100%;
    height: auto;
    background-image: url(./user-bg.png);
    background-size: cover;
    display: flex;

    ul
    {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    > .content
    {
        margin: 60rem/@base-rem-px 48rem/@base-rem-px;
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        font-size: 14rem / @base-rem-px;
        color: #333333;

        > .top
        {
            flex: 0 0 auto;
            display: flex;
            margin-bottom: 20rem / @base-rem-px;


            > .logo
            {
                width: 28.6rem / @base-rem-px;
                height: 24.5rem / @base-rem-px;
            }

            > .company
            {
                font-size: 20rem / @base-rem-px;
                margin-left: 8px;
                color: #333333;
            }
        }

        > .slogan
        {
            margin-bottom: 60rem / @base-rem-px;
        }

        > .list-title
        {
            color: #F5A623;
            font-size: 18rem / @base-rem-px;
            margin-bottom: 20rem / @base-rem-px;
        }

        > .kid-list
        {

            font-size: 18rem / @base-rem-px;

            > li
            {
                margin-bottom: 16rem / @base-rem-px;
                display: flex;
                justify-content: center;
                > span
                {
                    margin-right: 36rem / @base-rem-px;
                }

                > .report, .modify
                {
                    text-decoration: underline;
                    color: #0767b8;
                }
            }
        }


        > .add-btn
        {
            background-color: #F5A623;
            border-radius: 4px;
            width: 237rem / @base-rem-px;
            height: 40rem / @base-rem-px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18rem / @base-rem-px;
            align-self: center;
            margin-top: 40rem / @base-rem-px;
        }
    }
}
